body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
}

.calculator {
  color: #ffffff;
  font-weight: 800;
  border-radius: 12px;
  padding: 20px;
  width: 320px;
}

.display {
  background-color: #181f32;
  border-radius: 8px;
  color: white;
  text-align: right;
  padding: 15px;
  font-size: 32px;
  margin-bottom: 20px;
  height: 50px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  background-color: #252d44;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
}

.btn {
  background-color: #ecf0f1;
  border: none;
  border-radius: 8px;
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #3b4664;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.operator {
  background-color: #bdc3c7;
  color: #2c3e50;
}

.btn.reset {
  background-color: #647299;
  color: white;
  grid-column: span 2;
}

.btn.equals {
  background-color: #e74c3c;
  color: white;
  grid-column: span 2;
}

.btn:hover {
  background-color: #d5dbdb;
}

.operator:hover {
  background-color: #aab7b8;
}

.reset:hover {
  background-color: #7f8c8d;
}

.equals:hover {
  background-color: #c0392b;
}

#del {
  background-color: #647299;
  color: white;
}
